.synopsis {
	float: none;
	width: 100%;
	text-align: center;
}

heading {
	font-size: 18pt;
	}
	
#menu a {
	font-size: x-large;
	padding: 12px;
	color: black;
	width: 100%;
}

#menu {
	opacity: 1;
}

#menu .mobile {
	display: inline-block;
}

#menu .full {
	display: none;
}

.spacer {
	height: 45px;
	width: 100%;
}

.content {
	display: table-cell;
	}

.sub-section, .actual {
	/*float:none;*/
	width: 100%;
}

section {
	/*height: 100vh;*/
}

section {
	/*min-height: 100%;*/
	height: auto;
	padding: 15% 0;
	width: auto;
	padding: 
}

#imageMode {
	display: none;
}

#welcome, #socmed, #contact, #photography, #writings {
	background-image: none;
}